<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NortConsultingTasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NortConsultingTasks.Properties.Settings>
            <setting name="BBDD" serializeAs="String">
                <value>SBODemoES</value>
            </setting>
            <setting name="DbProviderFactory" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="PwdBBDD" serializeAs="String">
                <value>eMqCNiBrwXQ=</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UserBBDD" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="UserSAP" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="PwdSAP" serializeAs="String">
                <value>Idu4FbXMR8dGBwA71+UPiQ==</value>
            </setting>
            <setting name="SLDServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerSAP" serializeAs="String">
                <value>vmsap10</value>
            </setting>
            <setting name="ReportFactura" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverCR" serializeAs="String">
                <value />
            </setting>
            <setting name="CC" serializeAs="String">
                <value />
            </setting>
        </NortConsultingTasks.Properties.Settings>
    </applicationSettings>
</configuration>