<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LetsGoTasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LetsGoTasks.Properties.Settings>
            <setting name="DbProviderFactory" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="PwdBBDD" serializeAs="String">
                <value>T6oo88Wm04E=</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UserBBDD" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="UserSAP" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="PwdSAP" serializeAs="String">
                <value>WojV7LAKLcAlWHR3swwRNA==</value>
            </setting>
            <setting name="SLDServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerSAP" serializeAs="String">
                <value>vmsap10</value>
            </setting>
            <setting name="CSVProvFolder" serializeAs="String">
                <value>D:\Desarrollo\LetsGoTasks\bin\Debug\Ficheros</value>
            </setting>
            <setting name="CSVProvColumns" serializeAs="String">
                <value>CIF,PROVEEDOR,EMAIL,TIPO_VIA,CALLE,NUM_CALLE,CIUDAD,PROVINCIA,CODIGO_POSTAL,PAIS,FORMA_PAGO,CardType,NUM_FRA,FECHA_FACTURA,VTO_OC,TaxDate,CUENTA_ANALITICA,BASE,MONEDA,COD_IVA,DESCRIPCION,OBSERVACIONES,LINEA_DE_OC,COD_Ocs,COD_PROYECTO,PLAZA,ARCHIVO_ADJUNTO,COD_RET,MES_IMPUTACION</value>
            </setting>
            <setting name="SFTPHost" serializeAs="String">
                <value>20.82.105.88</value>
            </setting>
            <setting name="SFTPPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SFTPUser" serializeAs="String">
                <value>powerbi</value>
            </setting>
            <setting name="SFTPPassword" serializeAs="String">
                <value>HGn5IUcWZcBdpee+GedAY+ZkR8BK0fvo</value>
            </setting>
            <setting name="SFTPFolder" serializeAs="String">
                <value>/home/powerbi/data/SAP</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:\Desarrollo\LetsGoTasks\bin\Debug\Logs</value>
            </setting>
            <setting name="SFTPFolderNoProcesado" serializeAs="String">
                <value>SAP_NO_PROCESADO</value>
            </setting>
            <setting name="SFTPFolderProcesado" serializeAs="String">
                <value>SAP_PROCESADO</value>
            </setting>
            <setting name="SFTPFolderError" serializeAs="String">
                <value>SAP_ERROR</value>
            </setting>
            <setting name="EmpresasCambioMoneda" serializeAs="String">
                <value>SBODemoES</value>
            </setting>
        </LetsGoTasks.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.10" newVersion="10.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>